<app-header></app-header>

<main class="products-container">
  <div class="products-container-title">
    Products
    <i class="pi pi-th-large" (click)="setCurrentView(views.gallery)"></i>
    <i class="pi pi-bars" (click)="setCurrentView(views.table)"></i>
  </div>

  <div class="products-container-filters">
    <input type="search" placeholder="Search...">

    <div>
      <span>Filtros: </span>

    </div>

    <app-paginator></app-paginator>
  </div>

  <app-gallery *ngIf="currentView === views.gallery"></app-gallery>

  <div *ngIf="currentView === views.table">
    grid
    <br>
    <div *ngFor="let item of products$ | async; let i = index">
      {{item?.barcode_number}} {{item?.title}}
    </div>
  </div>
</main>
