<main class="products-container">
  <div class="products-container-title">
    Products
    <i class="pi pi-th-large"
       pTooltip="Show products gallery" tooltipPosition="bottom"
       (click)="setCurrentView(views.gallery)"></i>
    <i class="pi pi-bars"
       pTooltip="Show products table" tooltipPosition="bottom"
       (click)="setCurrentView(views.table)"></i>
  </div>

  <div class="products-container-filters">
    <input #generalSearch type="search" placeholder="Search..." (input)="setParams()">

    <div>
      <span>Filtros: </span>

    </div>

    <app-paginator
      *ngIf="currentView === views.table"
      [searchParams]="searchParams"
      (updateCurrentPage)="setCurrentPage($event)"></app-paginator>

  </div>

  <app-gallery
    *ngIf="currentView === views.gallery"
    [products]="products"
    (setViewFn)="setCurrentView($event)"
  ></app-gallery>

  <app-table
    *ngIf="currentView === views.table"
    [products]="products"
  ></app-table>


</main>
