.card-container {
  width: auto;
}
.card-container > img {
  width: 99%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}
.card-container > p {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 20px;
}
.card-container > div {
  font-weight: bold;
  font-size: 17px;
  color: var(--background6);
  margin-bottom: 20px;
}
.card-container > button {
  width: 100%;
  border-radius: 7px;
  margin: 5px 0;
  height: 40px;
  border: 1px solid var(--color-base);
  color: var(--color-base);
  background: transparent;
  cursor: pointer;
}
