<gallery *ngIf="products && products.length > 0"
  [items]="images"
  [counter]="true"
  [loop]="true"
  [autoPlay]="true"
  [playerInterval]="4000"
  [loadingStrategy]="'lazy'"
  (itemClick)="setViewFn.emit(views.table)"
  thumbPosition="left">
    <ng-container *galleryImageDef="let item; let active = active">
      <div *ngIf="active" class="item-text">
        {{ item?.alt }}
      </div>
    </ng-container>
</gallery>

<p-messages  *ngIf="products && products.length === 0"
             (click)="reloadProducts()"
             [value]="messages"
             [enableService]="false"
             [closable]="false"></p-messages>
