// dom elements ------------------------------------

input, button {
  transition: all 0.5s ease-out;
}
input::placeholder {
  color: white;
}
.p-tooltip .p-tooltip-text {
  padding: 10px !important;
  background-color: var(--background7) !important;
  border-right: 7px;
  color: var(--background3) !important;
}
.p-message.p-message-error {
  padding: 20px 10px;
  cursor: pointer;
}
.p-message-icon {
  margin: auto 10px;
}
